@import './partials/reset';
@import './partials/variables';
@import './partials/animations';

@import './partials/header';
@import './partials/heading';
@import './partials/grid';


.bg {
    position: fixed;
    bottom: 0;
    height: 180px;
    max-height: 20%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
    opacity: 1;
}